body{
    background-color:#5D5C61;
    overflow-x: hidden;

}
.addNews{
    position: absolute;
    /* top:8vh; */
    left:18%;
    /* font-size: 28px; */
    padding:70px;

}
/* from show_news.blade.php */
/* .showNews{
    overflow-x: hidden;
    position: absolute;
    left:9%;

} */
.searchLoggedUserArticleButton{
 position: absolute;
 left:45%;
 top:13vh;

}
/* for homepage SearchBar */
.searchBar{
    position: absolute;
    top:11vh;
    left:44%;

}
/* for homepage filter */
.searchCategory{
    position: absolute;
    top:11vh;
    left:14%;
}
