body{
    background-color:#5D5C61;
    overflow-x: hidden;

}
.addNews{
    position: absolute;
    top:9vh;
    left:19%;
    /* padding:220px; */
    /* font-size: 28px; */
    /* padding:2px; */
}
/* from show_news.blade.php */
/* .showNews{
    overflow-x: hidden;
    position: absolute;
    left:9%;

} */
.searchLoggedUserArticleButton{
 position: absolute;
 left:45%;
 top:13vh;

}
/* for homepage SearchBar */
.searchBar{
    position: absolute;
    top:11vh;
    left:44%;

}
/* for homepage filter */
.searchCategory{
    position: absolute;
    top:11vh;
    left:14%;
}
 .sidebar{
     top:9vh;
    height:100%;
     /* position: relative; */
    position: absolute;
    left:0%;
    /* position: fixed; */

}
.userProfile
{
position: absolute;
left:45%;
}
.userArticle
{
    position: absolute;
    left:17%;

}
/* from home_page.blade.php */
.latestSearch{
    position: absolute;
    top:11vh;
    left:74%;
}
