.addNews{
  position: absolute;
  left:22%;

}
.searchLoggedUserArticleButton{
 position: absolute;
 left:45%;
 top:13vh;

}
/* for homepage SearchBar */
.searchBar{
    position: absolute;
    top:11vh;
    left:44%;

}
/* for homepage filter */
.searchCategory{
    position: absolute;
    top:11vh;
    left:14%;
}
